# Weight Prediction using Linear regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv("data001.csv")

In [3]:
df

    Age   Height  Weight
0     21     168      60
1     22     160      59
2     24     155      65
3     21     150      70
4     21     140      45
5     22     160      55
6     19     145      49
7     20     166      59
8     20     159      79
9     23     150      81
10    24     160      88
11    24     158      53
12    25     169      56
13    23     175      67
14    20     163      61
15    20     162      68
16    21     155      69
17    22     149      59
18    24     145      48
19    22     150      47
20    21     169      60
21    21     168      63
22    19     151      49
23    20     161      58
24    21     145      43
25    22     155      58
26    22     130      48
27    23     167      67
28    23     155      40
29    24     150      49
30    25     160      55
31    22     145      52
32    21     149      41
33    20     151      40
34    19     154      46
35    19     143      49
36    22     156      50
37    20     142      41
38    21     160      44
39    21     178      60

In [4]:
df.head()

   Age   Height  Weight
0    21     168      60
1    22     160      59
2    24     155      65
3    21     150      70
4    21     140      45

In [5]:
reg = linear_model.LinearRegression()
reg.fit(df[['Age ', 'Height']], df.Weight)

LinearRegression()

In [6]:
reg.predict([[22, 165]])

array([61.15346518])